{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="col-md-6">
    <div class="content-box-large">
        <div class="panel-heading">
            <div class="panel-title">Create Position Form</div>

            <div class="panel-options">
                <a href="{% url 'users:position-add' %}" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
            </div>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" role="form" method="post" action="{% url 'users:position-add' %}">
                {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
                {% endfor %}
                {% csrf_token %}
                <div class="form-group">
                    <label for="inputName" class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputName" placeholder="Name" name="name" value="{{ form.name.value }}">
                        {% if form.name.errors %}
                            <p></p>
                            {% for error in form.name.errors %}
                                <p><strong class="text-danger">{{ error|escape }}</strong></p>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputShortName" class="col-sm-2 control-label">Short Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputShortName" placeholder="Short Name"
                               name="short_name" value="{{ form.short_name.value }}">
                        {% if form.short_name.errors %}
                            <p></p>
                            {% for error in form.short_name.errors %}
                                <p><strong class="text-danger">{{ error|escape }}</strong></p>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}