{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Bootstrap Admin Theme v3</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- styles -->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>
{% include 'includes/headers.html' %}
<div class="page-content" style="position: relative;">
    <div class="row">
        <div class="col-md-2">
            <div class="sidebar content-box" style="display: block;">
                <ul class="nav">
                    <!-- Main menu -->
                    <li class="current"><a href="index.html"><i class="glyphicon glyphicon-home"></i> Dashboard</a></li>
                    <li class="submenu">
                        <a href="{% url 'users:position-list' %}">
                            <i class="glyphicon glyphicon-list"></i>Position
                            <span class="caret pull-right"></span>
                        </a>
                        <ul>
                            <li><a href="{% url 'users:position-list' %}">List</a></li>
                            <li><a href="{% url 'users:position-add' %}">Create</a></li>
                        </ul>
                    </li>
                    <li><a href="#"><i class="glyphicon glyphicon-user"></i>User</a></li>
                    <li><a href="stats.html"><i class="glyphicon glyphicon-stats"></i>Team</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-10">
            <div class="row">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="container">

        <div class="copy text-center">
            Copyright 2014 <a href='#'>Website</a>
        </div>

    </div>
</footer>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<!-- Custom js -->
<script src="{% static 'js/custom.js' %}"></script>
</body>
</html>