{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="col-md-6">
    <div class="content-box-large">
        <div class="panel-heading">
            <div class="panel-title">Profile User</div>
        </div>
        <div class="panel-body">
            {% for user in user %}
                <div class="form-group">
                    <label for="inputName" class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputName" placeholder="Name" name="name" value="{{ user.username }}">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            {%endfor%}
<!--            </form>-->
        </div>
    </div>
</div>
{% endblock %}