{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="col-md-6">
    <div class="content-box-large">
        <div class="panel-heading">
            <div class="panel-title">Table Positions</div>

            <div class="panel-options">
                <form action="{% url 'users:export' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="export_team" value="1">
                    <button type="submit" class="btn btn-primary glyphicon glyphicon-print" data-rel="collapse"> Export</button>
                </form>
            </div>
        </div>
        <div class="panel-body">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Leader</th>
                </tr>
                </thead>
                <tbody>
                {% for team in teams %}
                <tr>
                    <td>{{ team.id }}</td>
                    <td><a href="{% url 'users:team-update' team.id %}">{{ team.name }}</a></td>
                    <td>{{ team.leader }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="card-footer clearfix">
                <ul class="pagination pagination-sm m-0 float-right">
                    {% if teams.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1">«</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ teams.previous_page_number }}">prev</a>
                    </li>
                    {% endif %}
                    <li class="page-item">
                        <a class="current page-link">
                            {{ teams.number }}
                        </a>
                    </li>
                    {% if teams.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ teams.next_page_number }}">next</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ teams.paginator.num_pages }}">»</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}